<div class='filter row'>
  <div class='column medium-3'>
  <span class='dropdown-menu-inverted_label'><%= t('.filter_by') %> :</span>
    <ul class='dropdown menu dropdown-inverted' data-dropdown-menu data-close-on-click-inside='false'>
      <li class='is-dropdown-submenu-parent'>
        <a href='#'>
        <% if @role.present? %>
          <%= t("models.user.fields.roles.#{@role}", scope: 'decidim.admin') %>
        <% else %>
          <%= t('.filter.all') %>
        <% end %>
        </a>
        <ul class='menu is-dropdown-submenu'>
          <% Decidim::User::Roles.all.map do |role| %>
            <li><%= link_to t("models.user.fields.roles.#{role}", scope: 'decidim.admin'), url_for(role: role, q: @query) %></li>
          <% end %>
          <li><%= link_to t('models.user.fields.roles.space_admin', scope: 'decidim.admin'), url_for(role: 'space_admin', q: @query) %></li>
          <li><%= link_to t('.filter.all'), url_for(q: @query) %></li>
        </ul>
      </li>
    </ul>
    <%= t('models.user.fields.search_question', scope: 'decidim.admin') %>
    <input type='radio' id='search_text_filter' name='filter_search' value='search_text' onchange='changeFilter(this)' style='margin-left: 20px'>
    <label for='search_text_filter'><%= t('models.user.fields.search_field_processes', scope: 'decidim.admin') %></label>
    <input type='radio' id='query_filter' name='filter_search' value='query' checked onchange='changeFilter(this)'>
    <label for='query_filter'><%= t('models.user.fields.search_field_admins', scope: 'decidim.admin') %></label>
  </div>
</div>
